@import "bootstrap";
@import "scrolling-nav";

img.card-img-top.img-fluid.img-limit {
  height: auto;
  max-height: 80px;
}

#league-title {
  padding-bottom: 20px;
}

.splash-image {
  padding-top: 0px;
}
