@import "bootstrap";
@import "scrolling-nav";

// body {
//   padding-top: 100px;
// }

img.card-img-top.img-fluid.img-limit {
  height: auto;
  max-height: 80px;
}

#league-title {
  padding-bottom: 20px;
}

.splash-image {
  padding-top: 0px;
}

.navbar-brand img {
  margin-top: -35px;
  margin-right: 15px;
}

nav#bottom-nav {
  padding: 20px;
}

#horiz-contain-1 {
     width:100%;
     height:100%;
     overflow:auto;
}
#horiz-contain-2 {
     width:100%;          // just an example
}
