<nav class="navbar navbar-light bg-faded navbar-fixed-bottom">

  <!-- <p>
    <div data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      NHL
    </div>
    <div data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      NBA
    </div>
  </p> -->
  <div class="nav navbar-nav">
    <div id='horiz-contain-1'>
      <div id='horiz-contain-2'>
    <div class="card-deck-wrapper">
      <div class="card-deck">
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#about" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>
    <div class="card card-block" style="min-width: 150px" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">Team 1: 110<br>Team 2: 77</div>

  </div><!--end card deck-->
</div><!--end card deck wrapper-->
</div>
</div>
  </div><!--end footer nav-->

  <div class="collapse" id="home">

    <div class="card card-block">
        <div>
          <strong>Team 1: </strong>110 | <strong>Team 2: </strong>77
          <hr>
          stats and stuff
        </div>
      </div>
  </div>

    <div class="collapse" id="about">
      <div class="card card-block">
        aobut
      </div>
    </div>

      <div class="collapse" id="pricing">
        <div class="card card-block">
        pricing
        </div>
      </div>

        <div class="collapse" id="features">
          <div class="card card-block">
            features
          </div>
        </div>
</nav>
