<nav class="navbar navbar-top navbar-light bg-faded">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#">Sports Aggregator</a>
  </div>
  <ul class="nav nav-inline pull-md-right">
    <li class="nav-link">
      <%= link_to "Login", new_user_session_path %>
    </li>
  <ul>
</nav>
